.additional-product-info-table-row{
	border: thin solid lightgrey;
	background-color: green;
}

.additional-product-info-table-row td{
	border-bottom: 2px solid grey; 
	background: #F6F6F6;
	padding:0;
}

.additional-product-info-table-list{
	border: none; width:100%;
}

.additional-product-info-table-list td{
	padding:0;
}